<ion-header>
  <ion-navbar color="primary">
    <ion-title>Projectdetails</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="project">

  <ion-card>
    <ion-card-header (click)="toggleIndiegogoBackersGraph()">Top 5 Indiegogo Backers</ion-card-header>
    <ion-list class="list">
      <backers *ngIf="showIndiegogoBackersGraph"
                [backers]="project.indiegogoDataList[project.indiegogoDataList.length-1].backers"></backers>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleIndiegogoPerksGraph()">Indiegogo Perks Sold</ion-card-header>
    <ion-list >
        <perks *ngIf="showIndiegogoPerksGraph"
               [perks]="project.indiegogoDataList[project.indiegogoDataList.length-1].perks"></perks>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleIndiegogoFundsGraph()">Indiegogo Total Funds Raised</ion-card-header>
    <ion-list>
      <funds *ngIf="showIndiegogoFundsGraph"
             [indiegogoData]="project.indiegogoDataList"></funds>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleTwitterFollowersGraph()">Twitter Followers</ion-card-header>
    <ion-list>
      <twitterFollowers *ngIf="showTwitterFollowersGraph" [twitterData]="project.twitterDataList"></twitterFollowers>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleTwitterFavsGraph()">Twitter Favourites</ion-card-header>
    <ion-list>
      <twitterFavs *ngIf="showTwitterFavsGraph" [twitterData]="project.twitterDataList"></twitterFavs>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleTwitterRetweetsGraph()">Twitter Retweets</ion-card-header>
    <ion-list>
      <twitterRetweets *ngIf="showTwitterRetweetsGraph" [twitterData]="project.twitterDataList"></twitterRetweets>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleInstagramFollowersGraph()">Instagram Followers</ion-card-header>
    <ion-list>
      <instagramFollowers *ngIf="showInstagramFollowersGraph" [instagramData]="project.instagramDataList"></instagramFollowers>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleFacebookLikesGraph()">Facebook Likes</ion-card-header>
    <ion-list>
      <facebookLikes *ngIf="showFacebookLikesGraph" [facebookData]="project.facebookDataList"></facebookLikes>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleFacebookPostGraph()">Facebook Post </ion-card-header>
    <ion-list>
    <facebookPostGraph *ngIf="showFacebookPostGraph" [facebookData]="project.facebookDataList"></facebookPostGraph>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleFacebookPostTable()">Facebook Post Table</ion-card-header>
    <ion-list>
      <facebookPostTable *ngIf="showFacebookPostTable" [allFaceBookPostData]="project.facebookDataList"></facebookPostTable>
    </ion-list>
  </ion-card>


  <ion-card>
    <ion-card-header (click)="toggleShowMembers()">Members</ion-card-header>
    <ion-list *ngIf="showMembers">
      <ion-item *ngFor="let member of project.members">
        <p>
          {{member.name}}
          <!--<button onclick="removeMember(member)" ion-button icon-right>X</button>-->
        </p>
      </ion-item>

      <form (ngSubmit)="addMember(member)">
        <ion-item>
          <ion-label>Add member</ion-label>
          <ion-input type="text" [(ngModel)]="member.name" name="name" required></ion-input>
        </ion-item>
        <button ion-button type="submit" block>Add Member</button>
      </form>
    </ion-list>
  </ion-card>
</ion-content>
