ion-card {
  background: color($colors, lighttext) !important;
}

ion-header {
  background: color($colors, lighttext) !important;
}

ion-list .list {
  background: color($colors, lighttext) !important;
}
