<ion-header>
  <ion-navbar color="primary">
    <ion-title>Projectdetails</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header (click)="toggleIndiegogoBackersGraph()">Top 5 Indiegogo Backers</ion-card-header>
    <ion-list class="list">
      <backers *ngIf="showIndiegogoBackersGraph"></backers>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleIndiegogoPerksGraph()">Indiegogo Perks Sold</ion-card-header>
    <ion-list >
        <perks *ngIf="showIndiegogoPerksGraph"></perks>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleIndiegogoFundsGraph()">Indiegogo Total Funds Raised</ion-card-header>
    <ion-list>
      <funds *ngIf="showIndiegogoFundsGraph"></funds>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleTwitterFollowersGraph()">Twitter Followers</ion-card-header>
    <ion-list>
      <twitterFollowers *ngIf="showTwitterFollowersGraph"></twitterFollowers>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleTwitterFavsGraph()">Twitter Followers</ion-card-header>
    <ion-list>
      <twitterFavs *ngIf="showTwitterFavsGraph"></twitterFavs>
    </ion-list>
  </ion-card>


  <ion-card>
    <ion-card-header (click)="toggleShowMembers()">Members</ion-card-header>
    <ion-list *ngIf="showMembers">
      <ion-item *ngFor="let member of project.members">
        <h2 >{{member.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
