<div>
    <div>
      <div>
        <table class="table table-responsive" style="color:black;">
          <thead>
          <tr>
            <th>Publication</th>
            <th># Likes</th>
            <th># Comments</th>
            <th># Shares</th>
            <th>Link</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of visibleFacebookPostData">
            <td style="text-align:center;">{{data.timestamp|date: 'dd/MM/yy'}}</td>
            <td style="text-align:center;">{{data.likeAmount}}</td>
            <td style="text-align:center;">{{data.numberOfComments}}</td>
            <td style="text-align:center;">{{data.shareAmount}}</td>
            <td style="text-align:center;"><a [href]="data.link">Link</a></td>
          </tr>
          </tbody>
        </table>
        <button class="btn-default btn-block" (click)="showAllData()">Show all posts</button>

      </div>
    </div>
  </div>

